In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_hdf("train.h5")

In [3]:
train.head()

,id,timestamp,derived_0,derived_1,derived_2,derived_3,derived_4,fundamental_0,fundamental_1,fundamental_2,...,technical_36,technical_37,technical_38,technical_39,technical_40,technical_41,technical_42,technical_43,technical_44,y
0,10,0,0.370326,-0.006316,0.222831,-0.213030,0.729277,-0.335633,0.113292,1.621238,...,0.775208,NaN,NaN,NaN,-0.414776,NaN,NaN,-2.0,NaN,-0.011753
1,11,0,0.014765,-0.038064,-0.017425,0.320652,-0.034134,0.004413,0.114285,-0.210185,...,0.025590,NaN,NaN,NaN,-0.273607,NaN,NaN,-2.0,NaN,-0.001240
2,12,0,-0.010622,-0.050577,3.379575,-0.157525,-0.068550,-0.155937,1.219439,-0.764516,...,0.151881,NaN,NaN,NaN,-0.175710,NaN,NaN,-2.0,NaN,-0.020940
3,25,0,NaN,NaN,NaN,NaN,NaN,0.178495,NaN,-0.007262,...,1.035936,NaN,NaN,NaN,-0.211506,NaN,NaN,-2.0,NaN,-0.015959
4,26,0,0.176693,-0.025284,-0.057680,0.015100,0.180894,0.139445,-0.125687,-0.018707,...,0.630232,NaN,NaN,NaN,-0.001957,NaN,NaN,0.0,NaN,-0.007338

In [16]:
# Encontrar id con más número de timestamps
train.id.value_counts()[:5]

2047    1813
1738    1813
722     1813
1350    1813
1352    1813
Name: id, dtype: int64

In [15]:
print len(train.timestamp.unique())

1813

In [19]:
# Seleccionamos el asset 2047 pues está en todos los timestamps
df = train[train.id == 2047]
df.shape

(1813, 111)

In [28]:
df.index

Int64Index([    708,    1458,    2208,    2958,    3708,    4458,    5208,
               5958,    6708,    7458,
            ...
            1700934, 1702018, 1703102, 1704186, 1705270, 1706354, 1707438,
            1708522, 1709608, 1710694],
           dtype='int64', length=1813)

In [57]:
d1 = df.y.diff(periods=1) # primero
d2 = df.y.diff(periods=2)

In [58]:
print df.y[:5]
print d1[:5]
print d2[:5]

708     0.017816
1458   -0.009593
2208    0.021994
2958    0.029161
3708   -0.006530
Name: y, dtype: float32
708          NaN
1458   -0.027409
2208    0.031587
2958    0.007167
3708   -0.035691
Name: y, dtype: float32
708          NaN
1458         NaN
2208    0.004178
2958    0.038754
3708   -0.028524
Name: y, dtype: float32

In [66]:
dfdiff = pd.DataFrame(index=df.index)#,columns=['d1','d2']
#dfdiff

In [67]:
for i in range(10):
    col = "d"+str(i+1)
    d = df.y.diff(periods=i+1)
    #print type(d)
    dfdiff[col] = pd.Series(d,index=df.index)

In [70]:
print dfdiff.shape
dfdiff.head()

(1813, 10)

            d1        d2        d3        d4  d5  d6  d7  d8  d9  d10
708        NaN       NaN       NaN       NaN NaN NaN NaN NaN NaN  NaN
1458 -0.027409       NaN       NaN       NaN NaN NaN NaN NaN NaN  NaN
2208  0.031587  0.004178       NaN       NaN NaN NaN NaN NaN NaN  NaN
2958  0.007167  0.038754  0.011345       NaN NaN NaN NaN NaN NaN  NaN
3708 -0.035691 -0.028524  0.003063 -0.024346 NaN NaN NaN NaN NaN  NaN

In [71]:
dfdiff.describe() #Generate various summary statistics, excluding NaN values.
#For mixed dtypes, the index will be the union of the corresponding
#output types. Non-applicable entries will be filled with NaN.

,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10
count,1812.000000,1811.000000,1810.000000,1809.000000,1808.000000,1807.000000,1806.000000,1805.000000,1804.000000,1803.000000
mean,-0.000012,-0.000008,-0.000026,-0.000050,-0.000049,-0.000057,-0.000063,-0.000085,-0.000135,-0.000105
std,0.039260,0.039713,0.037858,0.038769,0.038484,0.038359,0.039603,0.039171,0.039220,0.038298
min,-0.151428,-0.156501,-0.147281,-0.147498,-0.140613,-0.155205,-0.164280,-0.169078,-0.169061,-0.153577
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,0.155643,0.177703,0.151191,0.142649,0.166989,0.179592,0.137655,0.134502,0.179592,0.153317

In [72]:
#Boxplot